Package: com.brunonfl.s8edge
Name: S8Edge
Depends: mobilesubstrate, firmware (>= 8.0)
Version: 1.2.1
Architecture: iphoneos-arm
Description: Brings Galaxy S8 Infinity to iOS
Maintainer: Bruno Andrade <brubiluco@globo.com>
Author: Bruno Andrade <brubiluco@globo.com>
Section: Tweaks
