<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>S8EdgeCustomCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.brunonfl.s8edgeprefs</string>
			<key>key</key>
			<string>Status</string>
			<key>icon</key>
			<string>Enable.png</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.brunonfl.s8edgeprefs</string>
			<key>key</key>
			<string>enableRoundedCorners</string>
			<key>label</key>
			<string>Rounded Corners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>sliderRadius</string>
			<key>defaults</key>
			<string>com.brunonfl.s8edgeprefs</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>30</real>
			<key>default</key>
			<real>24</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<real>60</real>
			<key>leftImage</key>
			<string>Square.png</string>
			<key>rightImage</key>
			<string>Circle.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.brunonfl.s8edgeprefs</string>
			<key>key</key>
			<string>whitePhone</string>
			<key>label</key>
			<string>White Color on Corners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Every setting requires a respring (For now...)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.brunonfl.s8edgeprefs</string>
			<key>key</key>
			<string>enableEdgeOverlay</string>
			<key>label</key>
			<string>Edge Overlay</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>sliderOpacity</string>
			<key>defaults</key>
			<string>com.brunonfl.s8edgeprefs</string>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>100</real>
			<key>default</key>
			<real>20</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<real>100</real>
			<key>leftImage</key>
			<string>Transparent.png</string>
			<key>rightImage</key>
			<string>Opaque.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>footerText</key>
			<string>© 2017 Bruno Andrade</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate with Paypal</string>
		</dict>
		<dict>
			<key>action</key>
			<string>creator</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>creators.png</string>
			<key>label</key>
			<string>The Creators</string>
		</dict>
	</array>
	<key>title</key>
	<string>S8Edge</string>
</dict>
</plist>
